  <footer>
    <div class="horizontal"></div>
    <div class="footer-links">
      <a class="footer-link" href="/">Home</a>
      <a class="footer-link" href="/mazes/new">Sandbox</a>
      <a class="footer-link" href="/mazes">Maze List</a>
      <% if(!logged){%>
        <a class="footer-link" href='/login' >Login</a>
      <% }else{ %>
        <a class="footer-link" href='/logout' >Logout</a>
      <%}%>
    </div>
    <div class="footer-end">
      <div class="main-name">
        <img class='main-logo' src="/images/only-logo.png">
        <h1 class="main-title main-logo-title">MazeLabs</h1>
      </div>
      <h4 id="footer-dev">Developed by Matthew Chin</h4>
    </div>
  </footer>
</html>