<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MazeLabs - A Maze Creator, Editor, Solver, and Game</title>
    <meta name="description" content="MazeLabs - A Maze Creator, Editor, Solver, and Game" />
    <meta name="author" content="Matthew Chin" />
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/mobile.css" />
  </head>