<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <div class="main-name">
      <img class='offcanvas-title main-logo' src="/images/only-logo.png">
      <h1 class="offcanvas-title main-title main-logo-title" id="offcanvasScrollingLabel">MazeLabs</h1>
    </div>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="nav-links-div">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/profile">Profile</a>
      <a class="nav-link" href="/sandbox">Maze Editor</a>
      <a class="nav-link" href="/maze-list">Maze List</a>
      <a class="nav-link" href="/about">About</a>
      <div class="nav-desc hidden">
        <h5 class='nav-desc-title'>Home</h5>
        <p class="nav-desc-text">Some words go here. Some words go here. Some words go here. Some words go here. Some words go here.</p>
      </div>
    </div>
  </div>
</div>