:root{
  --wall: black;
  --pending: orange;
  --hover: red;
  --start: greenyellow;
  --end: darkred;
  --gridLine: lightgrey;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}
*{
  margin:0;
}
.cell{
  padding: 15px;
  margin:0;
  border: 3px solid transparent;
  border: 3px dashed var(--gridLine);
  user-select: none;
}

.start{
  background-color:var(--start);
}
.end{
  background-color:var(--end);
}
.topWall{
  border-top: 3px solid var(--wall);
}
.bottomWall{
  border-bottom: 3px solid var(--wall);
}
.rightWall{
  border-right: 3px solid var(--wall);
}
.leftWall{
  border-left: 3px solid var(--wall);
}
.topHover{
  border-top: 3px solid var(--hover);
}
.topPending.topHover{
  border-top: 3px solid var(--hover);
}
.bottomHover{
  border-bottom: 3px solid var(--hover);
}
.rightHover{
  border-right: 3px solid var(--hover);
}
.leftHover{
  border-left: 3px solid var(--hover);
}
.topPending{
  border-top: 3px solid var(--pending);
}
.bottomPending{
  border-bottom: 3px solid var(--pending);
}
.rightPending{
  border-right: 3px solid var(--pending);
}
.leftPending{
  border-left: 3px solid var(--pending);
}
