:root{
  --mainText : white; 
  --wall: rgb(61, 152, 227);
  --pending: rgb(0, 255, 119);
  --hover: rgb(255, 0, 72);
  --start: greenyellow;
  --end: darkred;
  --gridLine: rgb(67, 53, 53);
  --background: rgb(40, 40, 40); 
  --borderSize: 2.5px;
  --cellSize: 15px;
  --visited: rgb(61, 49, 119);
  --neighbor: rgb(153, 54, 54);
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}
*{
  margin:0;
}
body{
  background-color: var(--background);
}
h1{
  color: var(--mainText)
}
.cell{
  padding: var(--cellSize);
  margin:0;
  border: var(--borderSize) solid transparent;
  border: var(--borderSize) dashed var(--gridLine);
  user-select: none;
}
.start{
  background-color:var(--start);
}
.end{
  background-color:var(--end);
}
.topWall{
  border-top: var(--borderSize) solid var(--wall);
}
.bottomWall{
  border-bottom: var(--borderSize) solid var(--wall);
}
.rightWall{
  border-right: var(--borderSize) solid var(--wall);
}
.leftWall{
  border-left: var(--borderSize) solid var(--wall);
}
.topPending{
  border-top: var(--borderSize) solid var(--pending);
}
.bottomPending{
  border-bottom: var(--borderSize) solid var(--pending);
}
.rightPending{
  border-right: var(--borderSize) solid var(--pending);
}
.leftPending{
  border-left: var(--borderSize) solid var(--pending);
}
.topHover{
  border-top: var(--borderSize) solid var(--hover);
}
.bottomHover{
  border-bottom: var(--borderSize) solid var(--hover);
}
.rightHover{
  border-right: var(--borderSize) solid var(--hover);
}
.leftHover{
  border-left: var(--borderSize) solid var(--hover);
}
.visited{
  background-color: var(--visited);
}
.neighbor{
  background-color: var(--neighbor);
}